<style>
  body {
    max-width: 32rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .by-line {
    margin: 1rem;
  }
  .keywords {
    display: none;
  }
  .article-top {
    line-height: 2rem;
  }
  article h4 {
    margin: 1rem;
    font-weight: normal;
  }
  article section {
    margin-bottom: 1rem;
  }
  article p {
    line-height: 1.5;
    text-align: justify;
  }
</style>
<p class="article-top">
  <img src="/Aue.svg" width="32" height="32" />
  <a href="/">Aue main website</a> |
  <a href="..">Contributor page</a>
</p>
