<column class="thin">
  {{h1}} {{doctrine}}
  <br />
  <p class="unselectable">
    <a href="https://discord.gg/SVrmdQwt6y">Discord</a> |
    <a href="mailto:phun@protonmail.com">Email</a> |
    <a href="https://github.com/aue4joy/aue4joy.github.io">Github</a>
  </p>
  <br />
  <h2 class="vert4">Contributor {{contributors}}</h2>
  <p>
    Aue is open for opinions, verse descriptions, and materials by different people. If you would
    like to contribute, get in touch with Patrick Bowen using the links above.
  </p>
</column>
