<aue>{{verses-en}}</aue>
<select id="language-switcher" onchange="DomChooseLanguage(this)">
  <option value="eng">English (original)</option>
  <option value="spa">Español (provisional)</option>
  <option value="ita">Italiano (provisional)</option>
  <option value="ceb">Bisaya (partial, native)</option>
  <option value="hin">हिन्दी (unverified)</option>
  <option value="ind">Bahasa Indonesia (unverified)</option>
  <option value="ara">العربية (unverified)</option>
  <option value="ron">Română (unverified)</option>
  <option value="afr">Afrikaans (partial, unverified)</option>
  <option value="rus">Русский (partial, unverified)</option>
  <option value="tur">Türkçe (partial, unverified)</option>
  <option value="ger">Deutsch (partial, unverified)</option>
</select>
