<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4P7DFS43ZD"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-4P7DFS43ZD");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <meta name="description" content="[[desc]]" />
    <meta name="author" content="[[author-name]]" />
    <meta name="keywords" content="[[keywords]]" />
    <meta property="og:image" content="https://aue4joy.github.io/Aue64.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="64" />
    <meta property="og:image:height" content="64" />
    <title>[[title]]</title>
    <link rel="icon" type="image/svg+xml" href="/Aue.svg" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
