<column class="thin">
  {{h1}} {{doctrine}}
  <br />
  <p class="unselectable">
    <a href="https://discord.gg/8DHe49UeGx">Discord</a> |
    <a href="mailto:phun@protonmail.com">Email</a> |
    <a href="https://github.com/aue4joy/aue4joy.github.io">Github</a>
  </p>
  <br />
  <h2>Select a contributor</h2>
  <p>
    View contributions of Aue adherents: opinions, verse descriptions, and
    materials.
  </p>
  {{contributors}}
  <p>
    If you would like to contribute, get in touch with Patrick Bowen using the
    links above.
  </p>
</column>
