{{header}} {{core}}
<column class="thin">
  <h2>What is Aue?</h2>
  <p>
    Aue is a naturalistic religion with faith, doctrine, and practise. It asks
    for faith in society, and that the practice of evaluating joy & woe in
    society is beneficial. It considers us as a modern species dependant on one
    another.
  </p>
  <p>
    A joy/woe dichotomy is the lens used to guide adherents. Aue strives for the
    peace and community of religion without supernatural dogma. Quality over
    quantity, it should be a concise base which, after deliberation, is timeless
    and agreeable. It should help to ground an adherent in naturalism and
    understand themselves and their relationship with others.
  </p>
  <p>
    It is authored by Patrick Bowen, and is still open doctrine subject to minor
    change.
  </p>
  <h3>Miscellaneous information</h3>
  <p>
    <i>Foundation.</i> Aue was founded in September 2020. Since then it has had
    up to five simultaneous adherents.
  </p>
  <p>
    <i>Etymology</i>. Pronounced /aʊ̯e/, like "ou-ay" in "<u>ou</u>ch" and
    "p<u>ay</u>", and has been chosen simply for being all vowels and sounding
    pleasant.
  </p>
  <p>
    <i>Symbol.</i> The white band represents the short time we are conscious,
    black being from the start of the universe, to its continuation without us
    (inwards to outwards).
  </p>
</column>
<column class="thin">
  <h2>Latest Articles</h2>
  {{latest-articles}}
</column>
{{footer}}
