<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.8" />
        <title>Aue wallpaper</title>
        <link rel="icon" type="image/svg+xml" href="../Aue.svg" />
        <link rel="stylesheet" href="../index.css" />
        <style>
body {
    padding: 8rem;
    font-size: 2rem;
}
verse {
    line-height: 3rem;
}
        </style>
    </head>
    <body onload="DOM_display_Aue()">
        <aue>{{verses-en}}</aue>
    </body>
</html>
